@import '@/styles/variables';

.item {
	margin: 25px 0;
	list-style: none;

	.button {
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 10px;

		.icon {
			transition: color 150ms ease-in-out;
			color: $red-color;
		}

		.name {
			transition: color 150ms ease-in-out;
			color: $red-color;
		}
	}

	&:hover {
		.button {
			.name {
				color: $primary-color;
			}
		}
	}
}
