$primary-color: #fa895d;
$green-color: #59c587;
$red-color: #c35264;
$white: #fff;
$dark-color-100: #2c3341;
$dark-color-200: #38425d;
$dark-color-300: #323848;
$dark-color-400: #282c37;
$dark-color-500: #1d2027;
