@import '@/styles/variables';

.button {
	z-index: 999;
	display: block;
	padding: 16px;
	outline: none;
	border: none;
	border-radius: 10px;
	background-color: $primary-color;
	color: $white;
	cursor: pointer;
	transition: background-color 250ms ease-in-out;

	&:hover {
		background-color: $primary-hover-color;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.6;
		pointer-events: none;
	}
}
