@import '@/styles/variables';

.header {
	position: sticky;
	top: 0;
	z-index: 999;
	padding: $layout;
	border-bottom: 2px solid $dark-color-300;
	background-color: $dark-color-400;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.left {
			display: flex;
			align-items: center;
			gap: 10px;

			.menu_button {
				cursor: pointer;
				color: $white;

				.icon {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}
