@import '@/styles/variables';

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 400px;

	.label {
		margin-left: 15px;
		font-size: 14px;
	}

	.input {
		margin-top: 7px;
		padding: 16px 13px;
		max-width: 100%;
		outline: none;
		border: 1px solid $dark-color-300;
		border-radius: 15px;
		background: transparent;
		color: $white;
		transition: border-color 150ms ease-in-out;

		&:focus {
			border-color: $primary-color;
		}
	}

	.error {
		position: absolute;
		bottom: -20px;
		color: $red-color;
		font-size: 15px;
	}
}
